@import url('https://fonts.googleapis.com/css?family=Passion+One&display=swap');

* {
  padding: 0;
}

body, html {
  height: 100vh;
  background-color: #EFD347;
  /* display: flex; */
}

h1 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: .3rem;
  font-weight: 700;
  font-family: 'Passion One', cursive;
}

/* CONTROL BUTTONS */
#controls {
  padding-bottom: 1rem;
  display: inline-block;
  margin: 0 auto;
}
#controls button {
  font-weight: 700;
  font-size: 1rem;
  padding: .6rem 1rem;
  border-radius: 5px;
}
#startTimer {
  background-color: orange;
  color: #000;
}
.reset {
  background-color: #BF382C;
  color: #000;
}



/*  GAME BOARD */
wrapper {
/*   position: relative; */
  margin: auto;
  border: 1px solid black;
  background-color: #BF382C;
  width: 650px;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.card {
  position: relative;
  width: calc(25% - 10px);
  height: calc(32% - 10px);
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;

}

.card:active {
  transform: scale(.95);
  transition: transform .2s;
}
.card.flip {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front {
  transform: rotateY(180deg);
}

/*  modal */
#congratsWindow {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 1;
}


.won {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 55%;
	position: relative;
	/* transition: all 5s ease-in-out; */
}
.won h2 {
	margin-top: 0;
	color: #BF382C;
  text-align: center;
	font-family: 'Passion One', cursive;
  font-size: 2rem;
}

.close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	color: #333;
}
.close:hover {
  color: red;
}
