@import url('https://fonts.googleapis.com/css?family=Passion+One|Iceberg&display=swap');

:root {
  --yellow: #EFD347;
  --red: #BF382C;
  --blue: #19517C;
  --grey: #333;
}

* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100vh;
  background-color: var(--blue);
}

h1 {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 3.5rem;
  letter-spacing: .1rem;
  font-weight: 700;
  font-family: 'Passion One', cursive;
  color: var(--yellow);
}

/* CONTROL BUTTONS */
#controls {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
}
#controls button {
  font-weight: 700;
  font-size: 1rem;
  padding: .6rem 1rem;
  border-radius: 5px;
  margin-right: .5rem;
}

.fa-sync-alt:active {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.reset {
  background-color: var(--red);
  color: #000;
}


/* LEVELS BUTTONS */
#lev1 {
  background-color: #4CAF50;
}
#lev2 {
  background-color: var(--red);
}
#lev3 {
  background-color: var(--yellow);
}

.hiddenLevel {
  display: none;
}
.visibleLevel {
  display: flex;
}

/*  GAME BOARD */
#wrapper, #wrapperMedium, #wrapperHard {
  margin: auto;
  padding: 1rem;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  perspective: 1000px;
}
#wrapper {
  width: 30%;
}

#wrapperMedium {
  width: 55%;
}
#wrapperHard {
  width: 58%;
}

.card {
  align-self: center;
  width: 170px;
  height: 215px;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.card:active {
  transform: scale(.95);
  transition: transform .2s;
}
.card.flip {
  transform: rotateY(180deg);
}
.card img {
  max-width: 100%;
  height: auto;
}
.front, .back {
  position: absolute;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front {
  transform: rotateY(180deg);
}

/*  modal */
#congratsWindow {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 1;
}

.won {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 55%;
	position: relative;
	/* transition: all 5s ease-in-out; */
}
.won h2 {
	margin-top: 0;
	color: var(--red);
  text-align: center;
	font-family: 'Passion One', cursive;
  font-size: 2rem;
}
#finalTime {
  font-family: 'Iceberg', cursive;
  text-align: center;
  font-size: 2rem;
  color: var(--blue);
  font-style: italic;
}
.close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	color: var(--grey);
}
.close:hover {
  color: var(--red);
}

#happyGif {
  display: block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: 0 auto;
}

/* --------------------------------- MEDIA QUERY   */
@media only screen and (max-width: 600px) {
  html {
    width: 95%;
  }
  h1 {
    padding-bottom: 1rem;
  }
  #wrapper, #wrapperMedium, #wrapperHard {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    width: 95%;
  }
  h1 {
    padding-bottom: 1rem;
  }
  #wrapper, #wrapperMedium, #wrapperHard {
    width: 95%;
  }
}

/*  MEDIA QUERY */

/* @media only screen and (max-width: 375px) {
  #wrapper, #wrapperMedium, #wrapperHard {
    padding: .5rem;
    width: 100%;
  }
  .card {
    width: 44%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 425px) {
  #wrapper, #wrapperMedium, #wrapperHard {
    padding: .5rem;
    width: 100%;
  }
  .card {
    width: 23%;
  }
}

@media only screen and (min-width: 425px) and (max-width: 600px) {
  #wrapper {
    padding: .3rem;
    width: 95%;
  }
  #wrapperMedium {
    width: 95%;
  }
  #wrapperHard {
    width: 95%;
  }
  .card {
    width: 40%;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px){
  #wrapper {
    width: 90%;
    background-color: red;
  }
  #wrapperMedium {
    background-color: red;
    width: 95%;
  }
  #wrapperHard {
    background-color: red;
    width: 95%;
  }
}

@media screen and (min-width: 900px){
  #wrapper {
    padding: .5rem;
    width: 28%;

  }
  #wrapperMedium {
    width: 55%;
  }
  #wrapperHard {
    width: 58%;
  }
}
*/
