@import url('https://fonts.googleapis.com/css?family=Passion+One&display=swap');

* {
  padding: 0;
}

body, html {
  height: 100vh;
  background-color: #EFD347;
}

h1 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: .3rem;
  font-weight: 700;
  font-family: 'Passion One', cursive;
}

/* CONTROL BUTTONS */
#controls {
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}
#controls button {
  font-weight: 700;
  font-size: 1rem;
  padding: .6rem 1rem;
  border-radius: 5px;
  margin-right: .5rem;
}
#startTimer {
  background-color: orange;
  color: #000;
  padding-left: .5rem;
}
.fa-sync-alt:active {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.reset {
  background-color: #BF382C;
  color: #000;
}


/* LEVELS BUTTONS */
#lev1 {
  background-color: #4CAF50;
}
#lev2 {
  background-color: red;
}

.hiddenLevel {
  display: none;
}
.visibleLevel {
  display: flex;
}

/*  GAME BOARD */
wrapper {
  margin: auto;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #BF382C;

  /* easy level width: 25% */
  width: 30%;

   /* width: 765px; */
  /* height: 650px; */
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  perspective: 1000px;
}


.card {
  align-self: center;
  /* position: relative; */
  /* width: calc(25% - 10px);
  height: calc(32% - 10px); */
  width: 170px;
  height: 215px;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.card:active {
  transform: scale(.95);
  transition: transform .2s;
}
.card.flip {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.front {
  transform: rotateY(180deg);
}

/*  modal */
#congratsWindow {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 1;
}

.won {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 55%;
	position: relative;
	/* transition: all 5s ease-in-out; */
}
.won h2 {
	margin-top: 0;
	color: #BF382C;
  text-align: center;
	font-family: 'Passion One', cursive;
  font-size: 2rem;
}

.close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	color: #333;
}
.close:hover {
  color: red;
}

#happyGif {
  display: block;
  padding-bottom: .5rem;
  margin: 0 auto;
}






/* .l1 {
  width: calc(33% - 10px);
  height: calc(45%);
}

.l2 {
   width: calc(25% - 10px);
  height: calc(32% - 10px);
}

.l3 {
  display: none;
}


/*  MEDIA QUERY */
@media only screen and (max-width: 600px) {
  wrapper {
    padding: .5rem;
    width: 480px;
  }
  .card {
    width: 105px;
    height: 140px;
    margin: 5px;
  }
}
